body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1418px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:241px;
}
#u1661 {
  position:absolute;
  left:898px;
  top:251px;
  width:471px;
  height:241px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:112px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1663 {
  position:absolute;
  left:436px;
  top:74px;
  width:375px;
  height:603px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1665 {
  position:absolute;
  left:436px;
  top:11px;
  width:375px;
  height:64px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1667 {
  position:absolute;
  left:440px;
  top:42px;
  width:22px;
  height:22px;
}
#u1668 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1669 {
  position:absolute;
  left:573px;
  top:41px;
  width:103px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u1670 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u1671 {
  position:absolute;
  left:442px;
  top:17px;
  width:363px;
  height:13px;
}
#u1672 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1673 {
  position:absolute;
  left:445px;
  top:91px;
  width:357px;
  height:72px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:28px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1675 {
  position:absolute;
  left:767px;
  top:119px;
  width:22px;
  height:22px;
}
#u1676 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1677 {
  position:absolute;
  left:460px;
  top:119px;
  width:22px;
  height:22px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u1679 {
  position:absolute;
  left:492px;
  top:108px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u1680 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u1681 {
  position:absolute;
  left:492px;
  top:133px;
  width:145px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u1682 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1683 {
  position:absolute;
  left:445px;
  top:180px;
  width:357px;
  height:72px;
}
#u1684 {
  position:absolute;
  left:2px;
  top:28px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1685 {
  position:absolute;
  left:767px;
  top:208px;
  width:22px;
  height:22px;
}
#u1686 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1687 {
  position:absolute;
  left:460px;
  top:208px;
  width:22px;
  height:22px;
}
#u1688 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u1689 {
  position:absolute;
  left:492px;
  top:197px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5E5E;
}
#u1690 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u1691 {
  position:absolute;
  left:492px;
  top:222px;
  width:157px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u1692 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:56px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑';
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1693 {
  position:absolute;
  left:436px;
  top:698px;
  width:375px;
  height:56px;
  font-family:'微软雅黑';
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1694 {
  position:absolute;
  left:10px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u1695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1695 {
  position:absolute;
  left:448px;
  top:706px;
  width:204px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1696 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  word-wrap:break-word;
}
#u1697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u1697 {
  position:absolute;
  left:448px;
  top:728px;
  width:363px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u1698 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u1699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1699 {
  position:absolute;
  left:1206px;
  top:133px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1700 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1701 {
  position:absolute;
  left:1206px;
  top:496px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1702 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1703 {
  position:absolute;
  left:1206px;
  top:385px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1704 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1705 {
  position:absolute;
  left:1256px;
  top:193px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1705_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u1705_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1705_seg2 {
  position:absolute;
  left:-10px;
  top:54px;
  width:20px;
  height:20px;
}
#u1706 {
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u1707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1707 {
  position:absolute;
  left:1022px;
  top:385px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1708 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u1709 {
  position:absolute;
  left:1256px;
  top:445px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1709_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u1709_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1709_seg2 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u1710 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u1711 {
  position:absolute;
  left:1072px;
  top:445px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1711_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u1711_seg1 {
  position:absolute;
  left:-4px;
  top:31px;
  width:192px;
  height:8px;
}
#u1711_seg2 {
  position:absolute;
  left:180px;
  top:31px;
  width:8px;
  height:20px;
}
#u1711_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1711_seg4 {
  position:absolute;
  left:174px;
  top:38px;
  width:20px;
  height:20px;
}
#u1712 {
  position:absolute;
  left:32px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u1713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:91px;
}
#u1713 {
  position:absolute;
  left:904px;
  top:370px;
  width:70px;
  height:90px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1714 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u1715 {
  position:absolute;
  left:1022px;
  top:415px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1715_seg0 {
  position:absolute;
  left:-48px;
  top:-4px;
  width:52px;
  height:8px;
}
#u1715_seg1 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1715_seg2 {
  position:absolute;
  left:-55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1716 {
  position:absolute;
  left:-74px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1717 {
  position:absolute;
  left:1206px;
  top:415px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1717_seg0 {
  position:absolute;
  left:-84px;
  top:-4px;
  width:88px;
  height:8px;
}
#u1717_seg1 {
  position:absolute;
  left:-13px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1717_seg2 {
  position:absolute;
  left:-91px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1718 {
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1719 {
  position:absolute;
  left:1206px;
  top:257px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1720 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1721 {
  position:absolute;
  left:1256px;
  top:317px;
  width:0px;
  height:0px;
}
#u1721_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u1721_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u1721_seg2 {
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u1722 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1723 {
  position:absolute;
  left:1385px;
  top:364px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1724 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
