body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6687 {
  position:absolute;
  left:1349px;
  top:30px;
  width:375px;
  height:647px;
}
#u6688 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6689 {
  position:absolute;
  left:1349px;
  top:10px;
  width:375px;
  height:64px;
}
#u6690 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6691 {
  position:absolute;
  left:954px;
  top:30px;
  width:375px;
  height:647px;
}
#u6692 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6693 {
  position:absolute;
  left:954px;
  top:10px;
  width:375px;
  height:64px;
}
#u6694 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
  text-align:center;
}
#u6695 {
  position:absolute;
  left:954px;
  top:687px;
  width:91px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
  text-align:center;
}
#u6696 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u6697 {
  position:absolute;
  left:954px;
  top:717px;
  width:332px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u6698 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u6699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6699 {
  position:absolute;
  left:992px;
  top:247px;
  width:300px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6700 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u6701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#6B6B6B;
}
#u6701 {
  position:absolute;
  left:1502px;
  top:41px;
  width:69px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#6B6B6B;
}
#u6702 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#6B6B6B;
}
#u6703 {
  position:absolute;
  left:1107px;
  top:41px;
  width:69px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#6B6B6B;
}
#u6704 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6705 {
  position:absolute;
  left:1445px;
  top:517px;
  width:163px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6706 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u6707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6707 {
  position:absolute;
  left:1067px;
  top:517px;
  width:163px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6708 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u6709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:149px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6709 {
  position:absolute;
  left:1350px;
  top:74px;
  width:373px;
  height:149px;
}
#u6710 {
  position:absolute;
  left:2px;
  top:66px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6711 {
  position:absolute;
  left:1392px;
  top:247px;
  width:300px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6712 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u6713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6713 {
  position:absolute;
  left:955px;
  top:74px;
  width:373px;
  height:156px;
}
#u6714 {
  position:absolute;
  left:2px;
  top:70px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u6715 {
  position:absolute;
  left:1116px;
  top:194px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u6716 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6717 {
  position:absolute;
  left:1115px;
  top:121px;
  width:60px;
  height:60px;
}
#u6718 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u6719 {
  position:absolute;
  left:1349px;
  top:697px;
  width:350px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u6720 {
  position:absolute;
  left:0px;
  top:-20px;
  width:350px;
  white-space:nowrap;
}
#u6721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6721 {
  position:absolute;
  left:1512px;
  top:109px;
  width:60px;
  height:60px;
}
#u6722 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u6723 {
  position:absolute;
  left:1483px;
  top:182px;
  width:108px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1B1B1B;
}
#u6724 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u6725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u6725 {
  position:absolute;
  left:1355px;
  top:17px;
  width:363px;
  height:13px;
}
#u6726 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u6727 {
  position:absolute;
  left:960px;
  top:17px;
  width:363px;
  height:13px;
}
#u6728 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:73px;
}
#u6729 {
  position:absolute;
  left:19px;
  top:216px;
  width:94px;
  height:73px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
}
#u6730 {
  position:absolute;
  left:2px;
  top:26px;
  width:90px;
  word-wrap:break-word;
}
#u6731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6731 {
  position:absolute;
  left:16px;
  top:324px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
}
#u6732 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u6733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
}
#u6733 {
  position:absolute;
  left:16px;
  top:431px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:14px;
}
#u6734 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u6735 {
  position:absolute;
  left:66px;
  top:289px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u6735_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u6735_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u6735_seg2 {
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:20px;
}
#u6736 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6737 {
  position:absolute;
  left:66px;
  top:384px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u6737_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u6737_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u6737_seg2 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u6738 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6739 {
  position:absolute;
  left:116px;
  top:354px;
  width:0px;
  height:0px;
}
#u6739_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:346px;
  height:8px;
}
#u6739_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6739_seg2 {
  position:absolute;
  left:329px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6740 {
  position:absolute;
  left:121px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u6741 {
  position:absolute;
  left:185px;
  top:324px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u6742 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u6743 {
  position:absolute;
  left:87px;
  top:394px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399FF;
}
#u6744 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6745 {
  position:absolute;
  left:833px;
  top:354px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u6745_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:125px;
  height:8px;
}
#u6745_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6745_seg2 {
  position:absolute;
  left:108px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6746 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
  text-align:center;
}
#u6747 {
  position:absolute;
  left:881px;
  top:322px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
  text-align:center;
}
#u6748 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6749 {
  position:absolute;
  left:458px;
  top:30px;
  width:375px;
  height:647px;
}
#u6750 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6751 {
  position:absolute;
  left:458px;
  top:10px;
  width:375px;
  height:64px;
}
#u6752 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6753 {
  position:absolute;
  left:496px;
  top:247px;
  width:300px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6754 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u6755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#6B6B6B;
}
#u6755 {
  position:absolute;
  left:611px;
  top:41px;
  width:69px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#6B6B6B;
}
#u6756 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u6757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6757 {
  position:absolute;
  left:574px;
  top:394px;
  width:163px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6758 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u6759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6759 {
  position:absolute;
  left:459px;
  top:74px;
  width:373px;
  height:156px;
}
#u6760 {
  position:absolute;
  left:2px;
  top:70px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6761 {
  position:absolute;
  left:619px;
  top:104px;
  width:60px;
  height:60px;
}
#u6762 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u6763 {
  position:absolute;
  left:464px;
  top:17px;
  width:363px;
  height:13px;
}
#u6764 {
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6765 {
  position:absolute;
  left:605px;
  top:172px;
  width:81px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6766 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
  text-align:center;
}
#u6767 {
  position:absolute;
  left:458px;
  top:693px;
  width:133px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
  text-align:center;
}
#u6768 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u6769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u6769 {
  position:absolute;
  left:458px;
  top:753px;
  width:332px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u6770 {
  position:absolute;
  left:0px;
  top:-30px;
  width:332px;
  word-wrap:break-word;
}
