body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1231px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u4195 {
  position:absolute;
  left:78px;
  top:89px;
  width:60px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  color:#6B6B6B;
}
#u4196 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u4197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4197 {
  position:absolute;
  left:173px;
  top:89px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4198 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u4199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4199 {
  position:absolute;
  left:321px;
  top:89px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4200 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u4201 {
  position:absolute;
  left:138px;
  top:119px;
  width:0px;
  height:0px;
}
#u4201_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u4201_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4201_seg2 {
  position:absolute;
  left:22px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4202 {
  position:absolute;
  left:-32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4203 {
  position:absolute;
  left:273px;
  top:119px;
  width:0px;
  height:0px;
}
#u4203_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u4203_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4203_seg2 {
  position:absolute;
  left:35px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4204 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u4205 {
  position:absolute;
  left:1036px;
  top:89px;
  width:60px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4206 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u4207 {
  position:absolute;
  left:421px;
  top:119px;
  width:0px;
  height:0px;
}
#u4207_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:619px;
  height:8px;
}
#u4207_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4207_seg2 {
  position:absolute;
  left:602px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4208 {
  position:absolute;
  left:258px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4209 {
  position:absolute;
  left:425px;
  top:89px;
  width:147px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4210 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u4211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4211 {
  position:absolute;
  left:435px;
  top:226px;
  width:147px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4212 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u4213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4213 {
  position:absolute;
  left:432px;
  top:428px;
  width:147px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4214 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u4215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4215 {
  position:absolute;
  left:432px;
  top:633px;
  width:147px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4216 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u4217 {
  position:absolute;
  left:421px;
  top:119px;
  width:0px;
  height:0px;
}
#u4217_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:13px;
  height:8px;
}
#u4217_seg1 {
  position:absolute;
  left:5px;
  top:-4px;
  width:8px;
  height:140px;
}
#u4217_seg2 {
  position:absolute;
  left:5px;
  top:128px;
  width:173px;
  height:8px;
}
#u4217_seg3 {
  position:absolute;
  left:170px;
  top:127px;
  width:8px;
  height:9px;
}
#u4217_seg4 {
  position:absolute;
  left:170px;
  top:127px;
  width:9px;
  height:8px;
}
#u4217_seg5 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4217_seg6 {
  position:absolute;
  left:166px;
  top:121px;
  width:20px;
  height:20px;
}
#u4218 {
  position:absolute;
  left:-26px;
  top:124px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4219 {
  position:absolute;
  left:600px;
  top:220px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4220 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u4221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4221 {
  position:absolute;
  left:600px;
  top:419px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4222 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u4223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4223 {
  position:absolute;
  left:732px;
  top:220px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4224 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u4225 {
  position:absolute;
  left:700px;
  top:250px;
  width:0px;
  height:0px;
}
#u4225_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u4225_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4225_seg2 {
  position:absolute;
  left:19px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4226 {
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4227 {
  position:absolute;
  left:866px;
  top:176px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4228 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u4229 {
  position:absolute;
  left:832px;
  top:250px;
  width:0px;
  height:0px;
}
#u4229_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u4229_seg1 {
  position:absolute;
  left:14px;
  top:-48px;
  width:8px;
  height:52px;
}
#u4229_seg2 {
  position:absolute;
  left:14px;
  top:-48px;
  width:20px;
  height:8px;
}
#u4229_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4229_seg4 {
  position:absolute;
  left:21px;
  top:-54px;
  width:20px;
  height:20px;
}
#u4230 {
  position:absolute;
  left:-32px;
  top:-29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4231 {
  position:absolute;
  left:866px;
  top:272px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4232 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u4233 {
  position:absolute;
  left:832px;
  top:250px;
  width:0px;
  height:0px;
}
#u4233_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u4233_seg1 {
  position:absolute;
  left:14px;
  top:-4px;
  width:8px;
  height:60px;
}
#u4233_seg2 {
  position:absolute;
  left:14px;
  top:48px;
  width:20px;
  height:8px;
}
#u4233_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4233_seg4 {
  position:absolute;
  left:21px;
  top:42px;
  width:20px;
  height:20px;
}
#u4234 {
  position:absolute;
  left:-32px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4235 {
  position:absolute;
  left:421px;
  top:119px;
  width:0px;
  height:0px;
}
#u4235_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:12px;
  height:8px;
}
#u4235_seg1 {
  position:absolute;
  left:4px;
  top:-4px;
  width:8px;
  height:338px;
}
#u4235_seg2 {
  position:absolute;
  left:4px;
  top:326px;
  width:175px;
  height:8px;
}
#u4235_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4235_seg4 {
  position:absolute;
  left:166px;
  top:320px;
  width:20px;
  height:20px;
}
#u4236 {
  position:absolute;
  left:-42px;
  top:238px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4237 {
  position:absolute;
  left:732px;
  top:375px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4238 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u4239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4239 {
  position:absolute;
  left:732px;
  top:452px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4240 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u4241 {
  position:absolute;
  left:700px;
  top:449px;
  width:0px;
  height:0px;
}
#u4241_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u4241_seg1 {
  position:absolute;
  left:16px;
  top:-4px;
  width:8px;
  height:41px;
}
#u4241_seg2 {
  position:absolute;
  left:16px;
  top:29px;
  width:16px;
  height:8px;
}
#u4241_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4241_seg4 {
  position:absolute;
  left:19px;
  top:23px;
  width:20px;
  height:20px;
}
#u4242 {
  position:absolute;
  left:-30px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4243 {
  position:absolute;
  left:700px;
  top:449px;
  width:0px;
  height:0px;
}
#u4243_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u4243_seg1 {
  position:absolute;
  left:16px;
  top:-48px;
  width:8px;
  height:52px;
}
#u4243_seg2 {
  position:absolute;
  left:16px;
  top:-48px;
  width:16px;
  height:8px;
}
#u4243_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4243_seg4 {
  position:absolute;
  left:19px;
  top:-54px;
  width:20px;
  height:20px;
}
#u4244 {
  position:absolute;
  left:-30px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4245 {
  position:absolute;
  left:600px;
  top:624px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4246 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u4247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4247 {
  position:absolute;
  left:732px;
  top:624px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4248 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u4249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4249 {
  position:absolute;
  left:874px;
  top:564px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4250 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u4251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4251 {
  position:absolute;
  left:874px;
  top:683px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4252 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u4253 {
  position:absolute;
  left:421px;
  top:119px;
  width:0px;
  height:0px;
}
#u4253_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:11px;
  height:8px;
}
#u4253_seg1 {
  position:absolute;
  left:3px;
  top:-4px;
  width:8px;
  height:543px;
}
#u4253_seg2 {
  position:absolute;
  left:3px;
  top:531px;
  width:176px;
  height:8px;
}
#u4253_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4253_seg4 {
  position:absolute;
  left:166px;
  top:525px;
  width:20px;
  height:20px;
}
#u4254 {
  position:absolute;
  left:-43px;
  top:342px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4255 {
  position:absolute;
  left:700px;
  top:654px;
  width:0px;
  height:0px;
}
#u4255_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u4255_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4255_seg2 {
  position:absolute;
  left:19px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4256 {
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4257 {
  position:absolute;
  left:832px;
  top:654px;
  width:0px;
  height:0px;
}
#u4257_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u4257_seg1 {
  position:absolute;
  left:24px;
  top:-64px;
  width:8px;
  height:68px;
}
#u4257_seg2 {
  position:absolute;
  left:24px;
  top:-64px;
  width:18px;
  height:8px;
}
#u4257_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4257_seg4 {
  position:absolute;
  left:29px;
  top:-70px;
  width:20px;
  height:20px;
}
#u4258 {
  position:absolute;
  left:-22px;
  top:-31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4259 {
  position:absolute;
  left:832px;
  top:654px;
  width:0px;
  height:0px;
}
#u4259_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u4259_seg1 {
  position:absolute;
  left:24px;
  top:-4px;
  width:8px;
  height:67px;
}
#u4259_seg2 {
  position:absolute;
  left:24px;
  top:55px;
  width:18px;
  height:8px;
}
#u4259_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4259_seg4 {
  position:absolute;
  left:29px;
  top:49px;
  width:20px;
  height:20px;
}
#u4260 {
  position:absolute;
  left:-22px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4261 {
  position:absolute;
  left:1131px;
  top:452px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4262 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u4263 {
  position:absolute;
  left:832px;
  top:482px;
  width:0px;
  height:0px;
}
#u4263_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:303px;
  height:8px;
}
#u4263_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4263_seg2 {
  position:absolute;
  left:286px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4264 {
  position:absolute;
  left:100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4265 {
  position:absolute;
  left:974px;
  top:713px;
  width:0px;
  height:0px;
}
#u4265_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:211px;
  height:8px;
}
#u4265_seg1 {
  position:absolute;
  left:203px;
  top:-201px;
  width:8px;
  height:205px;
}
#u4265_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4265_seg3 {
  position:absolute;
  left:197px;
  top:-208px;
  width:20px;
  height:20px;
}
#u4266 {
  position:absolute;
  left:154px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4267 {
  position:absolute;
  left:966px;
  top:302px;
  width:0px;
  height:0px;
}
#u4267_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:219px;
  height:8px;
}
#u4267_seg1 {
  position:absolute;
  left:211px;
  top:-4px;
  width:8px;
  height:154px;
}
#u4267_seg2 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4267_seg3 {
  position:absolute;
  left:205px;
  top:137px;
  width:20px;
  height:20px;
}
#u4268 {
  position:absolute;
  left:132px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
